/* animation03 style */
.animation03{
    opacity: 0;
}
.animation03[data-state=active] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 999;
    .animation03{
        &_bg01{
            position: absolute;
            background-color: #b32f5c;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &_title01{
            transform: scale3d(1.5,1.5,1.5,);
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3.0rem;
            opacity: 0;
            animation: animation03_title01 .2s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            &_wrapper01{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &_bg02{
            position: absolute;
            background-color: #020021;
            width: 100%;
            height: 100%;
            z-index: 1;
            transform: translateY(100vh);
            animation: animation03_bg02 .4s cubic-bezier(0.19, 1, 0.22, 1) .6s forwards;
        }
        &_title02{
            position: absolute;
            bottom: 0;
            width: 16rem;
            padding: 0 0 0 .2rem;
            color: #fff;
            font-size: 1.8rem;
            line-height: 1;
            animation: animation03_title02 .8s cubic-bezier(0.19, 1, 0.22, 1) 1.0s forwards;
        }
        &_bg03{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            animation: animation03_bg03 .4s cubic-bezier(0.19, 1, 0.22, 1) 2.8s forwards;
            &_content{
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
            }
            &_element{
                width: 20%;
                height: 100%;
                animation: animation03_bg03_element 0.15s ease-in 1.5s forwards;
                transform-origin: bottom;
                opacity: 0;
                &-01{
                    background-color: #78bee4;
                }
                &-02{
                    background-color: #f1a05b;
                    animation-delay: 1.6s;
                }
                &-03{
                    background-color: #75cfb9;
                    animation-delay: 1.7s;
                }
                &-04{
                    background-color: #ffe08b;
                    animation-delay: 1.8s;
                }
                &-05{
                    background-color: #d55959;
                    animation-delay: 1.9s;
                }
            }
        }
        &_title03{
            position: relative;
            bottom: 0;
            padding: .2rem 0 0 .2rem;
            color: #fff;
            font-size: 1.2rem;
            line-height: 1;
            opacity: 0;
            animation: animation03_title03 .2s cubic-bezier(0.19, 1, 0.22, 1) 2.2s forwards;
        }
        &_bg04{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            animation: animation03_bg04 .4s cubic-bezier(0.19, 1, 0.22, 1) 2.8s forwards;
            transform: translateY(100vh);
            &_effect01{
                width: 100%;
                height: 100%;
                background-color: #828182;
                animation: animation03_bg04_effect01 .5s linear 3.2s forwards;
            }
        }
        &_title04{
            position: relative;
            bottom: 0;
            margin: 0 auto;
            padding: .2rem 0 0 0;
            color: #fff;
            font-size: 1.2rem;
            line-height: 1;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            animation: animation03_title04 1s linear 3.0s forwards;
        }
        &_bg05{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12rem;
            height: 12rem;
            z-index: 3;
            &_circle01{
                position: absolute;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                background-color: #fff;
                animation: animation03_bg05_circle01 .4s linear 3.6s forwards;
                transform: scale3d(0,0,0);
            }
        }
        &_title05{
            width: 100%;
            font-size: .8rem;
            animation: animation03_title05 5s linear 3.6s forwards;
            opacity: 0;
            &_wrapper01{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 60%;
                transform: translate(-50%, -50%);
            }
        }
        &_bg06{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12rem;
            height: 12rem;
            z-index: 3;
            &_circle01{
                position: absolute;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                background-color: #fb5a5c;
                animation: animation03_bg06_circle .4s linear 4.4s forwards;
                transform: scale3d(0,0,0);
            }
            &_circle02{
                position: absolute;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                background-color: #49f3db;
                animation: animation03_bg06_circle .4s linear 4.45s forwards;
                transform: scale3d(0,0,0);
            }
            &_circle03{
                position: absolute;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                background-color: #ada939;
                animation: animation03_bg06_circle .4s linear 4.6s forwards;
                transform: scale3d(0,0,0);
            }
        }
    }
}

@keyframes animation03_title01 {
    0%{
        opacity: 0;
        transform: scale3d(1.5,1.5,1.5,);
    }
    100%{
        opacity: 1;
        transform: scale3d(1,1,1,);
    }
}
@keyframes animation03_bg02 {
    0%{
        transform: translateY(100vh);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes animation03_title02 {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-7.9rem);
    }
}
@keyframes animation03_bg03_element{
    0%{
        transform: scale3d(1,0,1);
        opacity: 1;
    }
    100%{
        transform: scale3d(1,1,1);
        opacity: 1;
    }
}
@keyframes animation03_title03 {
    0%{
        opacity: 0;
        transform: scale3d(1.5,1.5,1.5,);
    }
    100%{
        opacity: 1;
        transform: scale3d(1,1,1,);
    }
}
@keyframes animation03_bg03 {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100vh);
    }
}
@keyframes animation03_bg04 {
    0%{
        transform: translateY(100vh);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes animation03_bg04_effect01 {
    0%{
        background-color: #828182;
    }
    100%{
        background-color: #000;
    }
}
@keyframes animation03_title04 {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-1.5rem);
    }
}
@keyframes animation03_bg05_circle01{
    0%{
        transform: scale3d(0,0,0);
        opacity: 1;
    }
    100%{
        transform: scale3d(1,1,1);
        opacity: 1;
    }
}
@keyframes animation03_title05 {
    0%{
        transform: translateX(.2rem);
    }
    20%{
        opacity: 1;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes animation03_bg06_circle{
    0%{
        transform: scale3d(0,0,0);
        opacity: 1;
    }
    100%{
        transform: scale3d(1,1,1);
        opacity: 1;
    }
}